<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger rounded p-3 mb-4 text-start" style="background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb;">
    <h4 class="fw-bold mb-3">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h4>
    <ul class="mb-0 ps-3">
      <% resource.errors.full_messages.each do |message| %>
        <li class="mb-1" style="list-style-type: disc;"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
